<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.momsrecipe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/recipe_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/recipe_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MomsRecipe">
        <activity android:name=".MainActivity2"></activity>
        <activity android:name=".Gridview_recipe">

        </activity>
        <activity android:name=".Gridview_recipe1"/>
        <activity android:name=".Gridview_recipe2"/>
        <activity android:name=".MainActivity_home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>